html, body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #6B6B6B;    
}

#wrapper {
    background: #FFF;
    margin: 0px auto;
    max-width: 1080px;
}

#header {
    background: #FF9900;
    min-height: 80px;
}

#body {
    padding: 20px;
    
    h2 {
        margin: 0px;
        padding: 0px 0px 20px 0px;
    }
}

#footer {
    background: #FF9900;
    min-height: 40px;
}

//index styles, same file because this isn't so complex
.indexWrapper {
    .indexColumns {
        .column {
            float: left;
            width: 30%;
            box-sizing: border-box;
            margin-right: 5%;
            border: 1px solid rgba(0,0,0,0.6);
            border-radius: 3px;
            padding: 0px;
            min-height: 250px;
            position: relative;
            
            &:nth-of-type(3n) {
                margin-right: 0px;
            }
            
            .columnHeader {
                border-bottom: 1px solid rgba(0,0,0,0.6);
                padding: 10px 20px;
                font-weight: bold;
            }
            
            .loader {
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                display: none;
                
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -8px 0px 0px -8px; 
                }
            }
            
            .noResults {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                display: none;
                
                table {
                    height: 100%;
                    width: 100%;    
                    
                    td {
                        text-align: center;
                        padding: 0px 20px;
                        font-style: italic;
                    }                
                }
            }
            
            .results {
                ul {
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    
                    li {
                        padding: 10px 20px;
                        cursor: pointer;
                        border-bottom: 1px solid rgba(0,0,0,0.3);
                        
                        &:hover {
                            background: #CCC;
                        }
                        
                        .checkbox {
                            position: relative;
                            top: 2px;
                        }
                    }
                }
            }
            
            .button {
                position: absolute;
                bottom: 10px;
                left: 20px;
                right: 20px;
                display: none;
                
                input[type=submit] {
                    width: 100%;
                }                 
            }
            
            &.canCheckout {
                .button {
                    display: block;
                }
            }
            
            &.loading {
                .loader {
                    display: block;
                }
                
                .results {
                    display: none;
                }
            }
            
            &.empty {
                .noResults {
                    display: block;
                }
                
                .results {
                    display: none;
                }
            }
        }
    }
}

//responsive styles
@media screen and (max-width: 640px) {
    .indexWrapper {
        .indexColumns {
            .column {
                float: none;
                width: 100%;
                margin-right: 0px;
                margin-bottom: 15px;
            }
        }
    }
}